body{
	background-color: #89C4F4;
	font-style: white;
	color: white;
}

.inline{
	display: inline-block;
}

.shadow {
 -webkit-box-shadow: 0 0 6px 4px gray;
   -moz-box-shadow: 0 0 6px 4px gray;
        box-shadow: 0 0 6px 4px gray;
}